<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{manage}">
<head>
<title>Category Page</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="my-5">Categories</h2>
					<table class="table table-secondary table-striped-columns">
						<thead>
							<tr>
								<th>
									<a th:href="@{/admin/categories?(page=${currentPage},sortField='id',sortDir=${reverseSortDir})}">ID</a>
								</th>
								<th>
									<a th:href="@{/admin/categories?(page=${currentPage},sortField='categoryName',sortDir=${reverseSortDir})}">Name</a>
								</th>
								<th>
									<a th:href="@{/admin/categories?(page=${currentPage},sortField='categoryTitle',sortDir=${reverseSortDir})}">Title</a>
								</th>
								<th>
									<a th:href="@{/admin/categories?(page=${currentPage},sortField='categoryDescription',sortDir=${reverseSortDir})}">Description</a>
								</th>								
								<th sec:authorize="hasAnyRole('ADMIN','MANAGER')">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="category: ${categories}">
								<td th:text="${category.id}"></td>
								<td th:text="${category.name}"></td>
								<td th:text="${category.title}"></td>
								<td th:text="${category.description}"></td>								
								<td sec:authorize="hasAnyRole('ADMIN','MANAGER')">
								<a class="btn btn-primary" th:href="@{/admin/editcategory?(categoryId=${category.id})}" role="button">Edit</a>
								<a class="btn btn-primary" th:href="@{/admin/deletecategory?(categoryId=${category.id})}" role="button">Delete</a>
								</td>								
							</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation example">
					  <ul class="pagination">
					  
					    <li th:if="${currentPage > 1}" class="page-item">
					    	<a class="page-link" th:href="@{/admin/categories?(page=${currentPage-1},sortField=${sortField},sortDir=${sortDir})}">Previous</a>
					    </li>
					    <li th:if="${currentPage <= 1}" class="page-item disabled">
					    	<a class="page-link" href="#">Previous</a>
					    </li>					    
					   					    
					    <li th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item">
					    	<a class="page-link" th:text=${i} th:href="@{/admin/categories?(page=${i},sortField=${sortField},sortDir=${sortDir})}">1</a>
					    </li>
					    
					    <li th:if="${currentPage < totalPages}" class="page-item">
					    	<a class="page-link" th:href="@{/admin/categories?(page=${currentPage+1},sortField=${sortField},sortDir=${sortDir})}">Next</a>
					    </li>
					    <li th:if="${currentPage >=  totalPages}" class="page-item disabled">
					    	<a class="page-link" href="#">Next</a>
					    </li>
					  </ul>
					</nav>
					<a sec:authorize="hasAnyRole('ADMIN','MANAGER')" class="btn btn-primary" th:href="@{/admin/addcategory}" role="button">New Category</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>