<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-
fit=no">

<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/layout.css" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

</head>
<body>
	<!-- Main Navigation -->
	<header class="taskbar-color shadow-lg bg-body">
		<div class="container">
			<div class="row ">
				<div class="col-3 col-md-2 col-lg-2">
					<a class="navbar-brand" th:href="@{/}"><img
						th:attr="src=@{/images/logo.png}" width="80px" height="80px" /> </a>
				</div>
				<div class="col-4 col-md-8 col-lg-8 ps-0 pe-0 pt-3">
					<nav class="navbar navbar-expand-lg">
						<div class="container-fluid">
							<button class="navbar-toggler bg-light" type="button"
								data-bs-toggle="collapse" data-bs-target="#navbarNav"
								aria-controls="navbarNav" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNav">
								<ul class="navbar-nav navbar-dark">
									<li class="nav-item"><a class="nav-link active fw-bolder text-secondary"
										aria-current="page" th:href="@{/}">HOME</a></li>									
									<li class="dropdown">
										<button class="btn dropdown-toggle fw-bolder text-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-top:7px">DANH MỤC SẢN PHẨM</button>
										<ul class="dropdown-menu">
										    <li><a class="dropdown-item text-secondary fw-semibold ps-0" th:href="@{/}">>  THỰC PHẨM KHÔ</a></li>
										    <li><a class="dropdown-item text-secondary fw-semibold ps-0" th:href="@{/}">>  BÁNH & RONG BIỂN ĂN LIỀN</a></li>
										    <li><a class="dropdown-item text-secondary fw-semibold ps-0 pb-4" th:href="@{/}">>  COMBO ĂN VẶT</a></li>
										    <li><a type="button" class="btn btn-outline-primary fw-semibold border border-primary border-3 p-1" th:href="@{/products}">XEM TẤT CẢ</a></li>
										</ul>
									</li>
									<li class="nav-item"><a class="nav-link active fw-bolder text-secondary"
										aria-current="page" th:href="@{/about}">GIỚI THIỆU</a></li>
									<li class="nav-item"><a class="nav-link active fw-bolder text-secondary"
										aria-current="page" th:href="@{/admin/login}">QUẢN LÝ</a></li>																								
								</ul>
							</div>
						</div>
					</nav>
				</div>
				<div class = "col-5 col-md-2 col-lg-2 ps-0 pe-0 pt-2">
					<a class="btn btn-light text-secondary fw-bolder" th:href="@{/}" role="button">GIỎ HÀNG <i class="bi bi-cart-dash-fill" style="font-size:30px"></i></a>
				</div>
			</div>
		</div>
	</header>
	<!-- Content Section -->
	<section layout:fragment="content">		
	</section>
	<!-- Footer -->
	<footer class="container py-5 ps-0">
		<section>
			<div class="container">
				<div class="row pb-5">
					<div class="col-md-3">
						<h5 class="fw-bolder">Về chúng tôi</h5>
						<p>Website chính thức và duy nhất của MixiFood. Hiện tại chúng mình chỉ nhận đơn hàng trên website chứ không nhận bất kỳ
						nơi nào khác nhé!</p>
					</div>
					
					<div class="col-md-3">
						<h5 class="fw-bolder ps-2">Danh mục sản phẩm</h5>
							<ul class="fs-6">
								<li><a th:href="@{/}" style="text-decoration: none; color: #28bcbe;">Thực phẩm khô</a></li>
								<li><a th:href="@{/}" style="text-decoration: none; color: #28bcbe;">Bánh & rong biển ăn liền</a></li>
								<li><a th:href="@{/}" style="text-decoration: none; color: #28bcbe;">Combo ăn vặt</a></li>								
							</ul>
					</div>
					
					<div class="col-md-3">
						<h5 class="fw-bolder ps-2">Thông tin</h5>
							<ul class="fs-6">
								<li><a th:href="@{/about}" style="text-decoration: none; color: #28bcbe;">Giới thiệu</a></li>
								<li><a th:href="@{/privacy}" style="text-decoration: none; color: #28bcbe;">Chính sách bảo mật</a></li>
								<li><a th:href="@{/terms}" style="text-decoration: none; color: #28bcbe;">Điều khoản</a></li>								
							</ul>
					</div>
					
					<div class="col-md-3">
						<h5 class="fw-bolder">Hỗ trợ</h5>
						<p>Mọi thắc mắc và góp ý cần hỗ trợ xin vui lòng liên hệ Fanpage và Instagram</p>
						<a th:href="@{https://www.facebook.com/mixifood}"><i class="bi bi-facebook" style="font-size:20px" th:href="@{/}"></i></a>
						<a th:href="@{https://www.instagram.com/mixi_food}"><i class="bi bi-instagram" style="font-size:20px"></i></a>
					</div>
				</div>
				<div class="row pt-5">
					<div class="col-md-12">
						<p class="text-muted">Copyright 2022 &copy; MixiFood</p>
					</div>
				</div>
			</div>
		</section>	
	</footer>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>
</html>