<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{manage}">
<head>
<title>User Page</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h2 class="my-5">Users</h2>
					<table class="table table-secondary table-striped-columns">
						<thead>
							<tr>
								<th>
									<a th:href="@{/admin/users?(page=${currentPage},sortField='id',sortDir=${reverseSortDir})}">ID</a>
								</th>
								<th>
									<a th:href="@{/admin/users?(page=${currentPage},sortField='firstName',sortDir=${reverseSortDir})}">First Name</a>
								</th>
								<th>
									<a th:href="@{/admin/users?(page=${currentPage},sortField='lastName',sortDir=${reverseSortDir})}">Last Name</a>
								</th>								
								<th>
									<a th:href="@{/admin/users?(page=${currentPage},sortField='userName',sortDir=${reverseSortDir})}">User Name</a>
								</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user: ${users}">
								<td><a th:href="@{/admin/viewuser?(userId=${user.id})}" th:text="${user.id}"></a></td>
								<td th:text="${user.firstName}"></td>
								<td th:text="${user.lastName}"></td>								
								<td th:text="${user.userName}"></td>
								<td>
								<a class="btn btn-primary" th:href="@{/admin/edituser?(userId=${user.id})}" role="button">Edit</a>
								<a class="btn btn-primary" th:href="@{/admin/deleteuser?(userId=${user.id})}" role="button">Delete</a>
								</td>								
							</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation example">
					  <ul class="pagination">
					  
					    <li th:if="${currentPage > 1}" class="page-item">
					    	<a class="page-link" th:href="@{/admin/users?(page=${currentPage-1},sortField=${sortField},sortDir=${sortDir})}">Previous</a>
					    </li>
					    <li th:if="${currentPage <= 1}" class="page-item disabled">
					    	<a class="page-link" href="#">Previous</a>
					    </li>					    
					   					    
					    <li th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item">
					    	<a class="page-link" th:text=${i} th:href="@{/admin/users?(page=${i},sortField=${sortField},sortDir=${sortDir})}">1</a>
					    </li>
					    
					    <li th:if="${currentPage < totalPages}" class="page-item">
					    	<a class="page-link" th:href="@{/admin/users?(page=${currentPage+1},sortField=${sortField},sortDir=${sortDir})}">Next</a>
					    </li>
					    <li th:if="${currentPage >=  totalPages}" class="page-item disabled">
					    	<a class="page-link" href="#">Next</a>
					    </li>
					  </ul>
					</nav>
					<a class="btn btn-primary" th:href="@{/admin/signup}" role="button">New User</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>